@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 1px solid $dark;
}

.menuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & .menuLink {
    transition: all 0.5s;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;

    &:not(:last-child) {
      margin-right: 5rem;
    }

    &:link,
    &:visited {
      background-color: $dark;
      color: $light;
      box-shadow: 0.5rem 0.5rem 0 0 $primary-red-1;
    }

    &:hover,
    &:focus {
      letter-spacing: 0.3rem;
      box-shadow: 0.3rem 0.3rem 0 0 $primary-red-1;
      transform: translate(0.2rem, 0.2rem);
    }

    &.active,
    &:active {
      letter-spacing: 0;
      box-shadow: 0rem 0rem 0 0 transparent;
      transform: translate(0, 0);
    }
  }

  & .menuText {
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 2rem;
  }
}
