@mixin tape {
  content: '';
  position: absolute;
  width: 25%;
  height: 20%;
  background-color: rgba($primary-blue-1, 0.8);
  clip-path: polygon(
    0 0,
    100% 0,
    95% 10%,
    100% 20%,
    95% 30%,
    100% 40%,
    95% 50%,
    100% 60%,
    95% 70%,
    100% 80%,
    95% 90%,
    100% 100%,
    0 100%,
    5% 90%,
    0 80%,
    5% 70%,
    0 60%,
    5% 50%,
    0 40%,
    5% 30%,
    0 20%,
    5% 10%
  );
}
