// ===========
// TYPOGRAPHY
// ===========

$font-main: 'Roboto', sans-serif;
$font-logo: 'Audiowide', cursive;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// ===========
// COLORS
// ===========

$dark: #000;
$light: #fff;
$grey: #999;

$grey-dark-1: #111;
$grey-dark-2: #222;
$grey-dark-3: #333;

$grey-light-1: #666;
$grey-light-2: #777;
$grey-light-3: #f4f4f4;

$primary-red-1: #c05e51;
$primary-red-2: #d82d17;
$primary-yellow-1: #f5c266;
$primary-green-1: #5b6e5a;
$primary-blue-1: #7ea5d9;

// ===========
// LOGO
// ===========
$logo-blue-1: #475f6c;
$logo-blue-2: #2b414d;
$logo-blue-3: #1e2d36;

$logo-pearl-1: #fdf0de;
$logo-pearl-2: #f5e8d5;
$logo-pearl-3: #d2bb9a;

$logo-red-1: #e2574c;
$logo-red-2: #e47b73;
$logo-yellow-1: #e5c45a;
$logo-yellow-2: #ead07b;
$logo-green-1: #a6d26e;
$logo-green-2: #b8db8b;
$logo-pink-1: #e49adf;
$logo-pink-2: #e9aee5;
