// ===========
// TYPOGRAPHY
// ===========

$font-main: 'Roboto', sans-serif;
$font-logo: 'Audiowide', cursive;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// ===========
// COLORS
// ===========

$dark: #000;
$light: #fff;
$grey: #999;

$grey-dark-1: #111;
$grey-dark-2: #222;
$grey-dark-3: #333;

$grey-light-1: #666;
$grey-light-2: #777;
$grey-light-3: #f4f4f4;
