@import '../../../styles/settings.scss';

.root {
  border-radius: 3rem;
  text-transform: uppercase;
  font-weight: $bold;
  color: $light;
  background-color: $primary-yellow-1;

  &:hover {
    background-color: $primary-yellow-2;
  }

  &:active {
    background-color: $primary-yellow-1;
  }
}
