@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  grid-gap: 3rem;
  padding: 3rem;
}
