@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.gridContainer {
  padding: 3rem;

  @include mobile {
    padding: 1rem;
  }
}

.endMEssage {
  color: $grey;
  text-align: center;
}
